.project
.classpath
.settings/
target/
*.pyc
*.class
.idea/.name
.idea/encodings.xml
.idea/dictionaries/Jason.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/OS (C) - Shortcut.lnk
.idea/scopes/scope_settings.xml
.idea/tasks.iml
.idea/vcs.xml
.idea/voyager-processing.iml
.idea/workspace.xml
.idea/voyager-py.iml
processing/iir2.csv
.vscode
*.log